<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Books Rest</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark">

	<div class="align-items: center;">

<a th:href="@{/home}" class="btn btn-light" style="margin: 10px 0 0 0;">Ana
		Səhifəyə qayıt</a>

	<br>
	<br>
	<br>
	<br>
	</div>
	
	
	

	
	<div class="container" style="align-items: center;">
	
	<form onsubmit="saveBook(event)">
	<label for="book-name" class="text-light">Ad</label><br>
	<input type="text" id="book-name" class="form-control" style="width: 300px;">
	<span id="name-error" class="text text-danger"></span><br>
	
	<label for="book-description" class="text-light">Melumat</label><br>
	<input type="text" id="book-description" class="form-control" style="width: 300px;">
	<span id="description-error" class="text text-danger"></span><br>
	
	<label for="book-author" class="text-light">Yazar</label><br>
	<input type="text" id="book-author" class="form-control" style="width: 300px;"><br>
	<span id="author-error" class="text text-danger"></span><br>
	
	<label for="book-price" class="text-light">Qiymet</label><br>
	<input type="number" id="book-price" class="form-control" style="width: 300px;"><br>
	<span id="price-error" class="text text-danger"></span><br>
	
	<label for="book-page-count" class="text-light">Sehife sayi</label><br>
	<input type="number" id="book-page-count" class="form-control" style="width: 300px;"><br>
	
	
	
		<label class="text-light">Dil</label><br>
		<select id='languages-select'>
			
		</select><br><br>
		
		
		
		<label class="text-light">Janrlar</label><br>
		<span id="book-genres" class="text-light">
			
		</span>
		<br>
		
		
	
	
	
	<input type="submit" value="Qeydiyyat et" class="btn btn-primary" id="save-book-button">
	<input type="reset" value="Sifirla" class="btn btn-danger" onclick="resetForm()">
	<br><br>
	
	
	
	</form>
	
	
	
		<table class="table table-light table-bordered border-dark justify-content-center"
			style="width: 1000px;">
			<thead>
				<tr>
					<th>İD</th>
					<th>Ad</th>
					<th>Məlumat</th>
					<th>Yazar</th>
					<th>Qiymət</th>
					<th>Sehife sayi</th>
					<th>Dil</th>
					<th>Janrlar</th>
					<th>Əməliyyatlar</th>
				</tr>
			</thead>
			<tbody id="books-table-tbody">
				
				
				
			</tbody>
		</table>
		
		
		
		<script th:src="@{/js/books-rest.js}"></script>
		
		
		
	</div>

</body>
</html>