<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Books Rest</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark">

	<div class="align-items: center;">

<a th:href="@{/home}" class="btn btn-light" style="margin: 10px 0 0 0;">Ana
		Səhifəyə qayıt</a>
	<a th:href="@{/books/open/save}" class="btn btn-light"
		style="margin: 10px 0 0 0;">Yeni kitab əlavə et</a>

	<br>
	<br>
	<br>
	<br>
	</div>
	
	
	

	
	<div class="container" style="align-items: center;">
	
	<form onsubmit="saveBook(event)">
	<label for="book-name" class="text-light">Ad</label><br>
	<input type="text" id="book-name" class="form-control" style="width: 300px;"><br>
	
	<label for="book-description" class="text-light">Haqqinda</label><br>
	<input type="text" id="book-description" class="form-control" style="width: 300px;"><br>
	
	
	<input type="submit" value="Qeydiyyat et" class="btn btn-primary"><br><br>
	
	
	
	</form>
	
	
	
		<table class="table table-light table-bordered border-dark justify-content-center"
			style="width: 1000px;">
			<thead>
				<tr>
					<th>İD</th>
					<th>Ad</th>
					<th>Məlumat</th>
					<th>Yazar</th>
					<th>Qiymət</th>
					<th>Dil</th>
					<th>Janrlar</th>
					<th>Əməliyyatlar</th>
				</tr>
			</thead>
			<tbody id="books-table-tbody">
				
				
				
			</tbody>
		</table>
		
		
		
		<script type="text/javascript">
			
		var booksTbody = document.getElementById("books-table-tbody");
		
		var booksTbodyHtml = '';
		
		var http= new XMLHttpRequest();
		
		http.onload = function() {
			console.log(this.responseText);
			
			var array=JSON.parse(this.responseText);
			for(var i=0;i<array.length;i++){
				var b = array[i];
				booksTbodyHtml+="<tr><td>"+b.id+"</td>";
				booksTbodyHtml+="<td>"+b.name+"</td>";
				booksTbodyHtml+="<td>"+b.description+"</td>";
				booksTbodyHtml+="<td>"+b.author+"</td>";
				booksTbodyHtml+="<td>"+b.price+"</td>";
				booksTbodyHtml+="<td>"+b.language+"</td>";
				booksTbodyHtml+="<td><ol>";
				
				for(var j=0;j<b.genres.length;j++){
					var genre = b.genres[j];
					booksTbodyHtml+="<li>"+genre.name+"</li>"; 
					
					
				}
				
				booksTbodyHtml+="</ol></td>";
				booksTbodyHtml+="<td><button class='btn btn-danger'>Sil</button></td></tr>";
			}
			
			booksTbody.innerHTML=booksTbodyHtml;
		}
		
		http.open("GET","/books/rest",true);
		
		http.send();
		
		
		function saveBook(event){
			event.preventDefault();
			var name = document.getElementById('book-name').value;
			var description = document.getElementById('book-description').value;
			
			var book = {name:name,description:description};
			
			var http = new XMLHttpRequest();
			
			http.open("POST","/books/rest",true);
			http.setRequestHeader("Content-Type","application/JSON");
			http.send(JSON.stringify(book));
		}
		
		
		
		</script>
		
		
		
	</div>

</body>
</html>