<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Əsas Səhifə</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark">
    <center>
    <h1 style="margin: 10px 0;" class="text-light">Əsas Səhifə</h1>

    <a th:href="@{/books}" class="btn btn-light">Kitablar</a>
    <!-- <hr class="bg-light"> -->
    <a th:href="@{/logout}" class="btn btn-danger" style="margin: 0 0 0 10px;">Çıxış</a>
    </center>
    
</body>
</html>