<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark">
    <div class="container" style="align-items: center;">

        <h2 th:text="${header}" class="text-light">Yeni telebe qeydiyyati</h2>
            <form th:action="@{/books/save}" method="post" th:object="${book}" class="form-group">
                <input type="hidden" th:field="*{id}">
        <label for="bookName" class="text-light">Ad</label><br>
        <input type="text" id="bookName" th:field="*{name}" class="form-control" style="width: 300px;"><br/>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div><br>
    
        <label for="bookDescription" class="text-light">Məlumat</label><br>
        <input type="text" id="bookDescription" th:field="*{description}" class="form-control" style="width: 300px;"><br>
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></div><br>

        <label for="bookAuthor" class="text-light">Yazar</label><br>
        <input type="text" id="bookAuthor" th:field="*{author}" class="form-control" style="width: 300px;"><br>
        <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger"></div><br>

        <label for="bookPrice" class="text-light">Qiymət</label><br>
        <input type="number" id="bookPrice" th:field="*{price}" class="form-control" style="width: 300px;"><br>
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></div><br>
    
        <input type="submit" value="Yadda saxla" class="btn btn-danger">
    </form>

    </div>
    

</body>
</html>