<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Books</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark">

	<div class="align-items: center;">

<a th:href="@{/home}" class="btn btn-light" style="margin: 10px 0 0 0;">Ana
		Səhifəyə qayıt</a>
	<a th:href="@{/books/open/save}" class="btn btn-light"
		style="margin: 10px 0 0 0;">Yeni kitab əlavə et</a>

	<br>
	<br>
	<br>
	<br>
	</div>

	
	<div class="container" style="align-items: center;">
		<table class="table table-light table-bordered border-dark justify-content-center"
			style="width: 1000px;">
			<thead>
				<tr>
					<th>İD</th>
					<th>Ad</th>
					<th>Məlumat</th>
					<th>Yazar</th>
					<th>Qiymət</th>
					<th>Səhifə sayı</th>
					<th>Dil</th>
					<th>Janrlar</th>
					<th>Əməliyyatlar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="b : ${books}">
					<td th:text="${b.id}"></td>
					<td th:text="${b.name}"></td>
					<td th:text="${b.description}"></td>
					<td th:text="${b.author}"></td>
					<td th:text="${b.price}"></td>
					<td th:text="${b.pageCount}"></td>
					<td th:text="${b.language}"></td>
					<td th:text="${b.genres}"></td>
					<td><a class="btn btn-danger" th:href="@{/books/delete/{id}(id=${b.id})}"
					th:onclick="if(!confirm('Kitabı silməyə əminsiz?')) return false"
					>Sil</a>
						<a class="btn btn-primary" th:href="@{/books/edit/{id}(id=${b.id})}"
						>Redakte et</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>